@{
    ViewData["Title"] = "Login2";
    Layout = null;
}
<link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/assets/fonts/nakheelfont.css")" rel="stylesheet" />
<script src="@Url.Content("~/assets/pages/datatables/jquery.min.js")"></script>
<script src="~/assets/libs/sweetalert2/sweetalert2.min.js"></script>


<style>
    body {
        padding: 0;
        margin: 0;
    }

    .vid-container {
        position: relative;
        height: 100vh;
        overflow: hidden;
    }

    .bgvid {
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
    }

    .inner-container {
        width: 400px;
        height: 400px;
        position: absolute;
        top: calc(50vh - 200px);
        left: calc(50vw - 200px);
        overflow: hidden;
        border-radius: 33px;
    }

    .bgvid.inner {
        top: calc(-50vh + 200px);
        left: calc(-50vw + 200px);
        filter: url("data:image/svg+xml;utf9,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'><filter%20id='blur'><feGaussianBlur%20stdDeviation='10'%20/></filter></svg>#blur");
        -webkit-filter: blur(10px);
        -ms-filter: blur(10px);
        -o-filter: blur(10px);
        filter: blur(10px);
    }

    .box {
        position: absolute;
        height: 100%;
        width: 100%;
        font-family: 'Nakheel Headline' !important;
        color: #fff;
        background: rgba(0,0,0,0.13);
        padding: 30px 0px;
    }

        .box h1 {
            text-align: center;
            margin: 30px 0;
            font-size: 30px;
        }

        .box input {
            display: block;
            width: 330px;
            margin: 20px auto;
            padding: 15px;
            background: rgba(0,0,0,0.2);
            color: #fff;
            border: 0;
            border-radius: 50px;
        }

            .box input:focus, .box input:active, .box button:focus, .box button:active {
                outline: none;
            }

        .box button {
            background: #2ecc71;
            border: 0;
            color: #fff;
            padding: 10px;
            font-size: 20px;
            width: 330px;
            margin: 20px auto;
            display: block;
            cursor: pointer;
            border-radius: 50px;
        }

            .box button:active {
                background: #27ae60;
            }

        .box p {
            font-size: 14px;
            text-align: center;
        }

            .box p span {
                cursor: pointer;
                color: #666;
            }

</style>

<div class="vid-container">
    <video class="bgvid" autoplay="autoplay" muted="muted" preload="auto" loop>
    </video>
    <div class="inner-container">
        <video class="bgvid inner" autoplay="autoplay" muted="muted" preload="auto" loop>
        </video>
        <div class="box">
            <img src="~/assets/images/login_logo.png" class="logo" width="50%" height="30%" style="display: block;height: auto;max-width: 100%; margin: 0 auto;" />
            <br /> <span style="font-family: 'Nakheel Headline' !important;color: #002639;margin-left: 38%;font-size: 39px;font-weight: bold;font-family: 'Nakheel Headline' !important;">Login</span><br /><br />
            <div class="col-md-12" style="margin-left: 41%;font-size: 14px;font-weight: bold;"><span style="font-family: 'Nakheel Headline' !important;color: #002639;">Access Type</span></div>
            <div style="margin-left: 22%;">
                <input type="radio" id="html" name="fav_language" value="Employee" class="radioBtnClass">
                <label for="html" style="color: #00617f;font-size: 14px;font-weight: bold;">Employee</label>
                <input type="radio" id="css" name="fav_language" value="Service_Provider" class="radioBtnClass" checked="checked">
                <label for="css" style="color: #00617f;font-size: 14px;font-weight: bold;">Service Provider</label>
            </div>
            <form asp-action="AddLogin" asp-controller="Account" method="post" id="LoginForm">
                <input class="input" type="text" style="font-family: 'Nakheel Headline' !important;font-size: 15px;" name="User_Name" placeholder="Enter User Name" id="User_Name" required />
                <input class="input" type="password" style="font-family: 'Nakheel Headline' !important;font-size: 15px;" name="Password" id="Password" placeholder="Enter Password" required />
                <button type="submit" style="font-family:'Nakheel Headline'">Login</button>
                @* <p>Not a member? <span>Sign Up</span></p>*@
            </form>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        let msg = '@TempData["Res"]';
        if (msg != "") {
            debugger
            if (msg == "Success") {
                Swal.fire({
                    position: 'Center',
                    icon: 'success',
                    title: msg,
                    showConfirmButton: false,
                    timer: 1500
                });
            }
            else {
                Swal.fire({
                    position: 'Center',
                    icon: 'warning',
                    title: msg,
                    showConfirmButton: false,
                    timer: 2000
                });
            }
        }

        $(".radioBtnClass").change(function () {
            if ($(this).is(":checked")) {
                var selected = $(this).val();
                if (selected == "Employee") {
                    window.location.href = "https://hse.nakheel.com/";
                }
                else {
                    window.location.href = "https://hse.nakheel.com/Account/Login/";
                }
            }
        });
    });
</script>